/*
0px		- 		600px:			mobile 	--> Mobile First Approach (normal styles apply)
600px		- 		900px: 			tab-port 	--> Tablet Portrait 
900px		-		1200px:			tab-land	--> Tablet Landscape
1200px	-		1800px:			desk		--> Desktop 
1800px +							big-desk	--> Big Desktop

REMEMBER: 1em = 16px;
$breakpoint argument choices
	- tab-port and >	600 --> 900 	: min-width: 37.5em (600/16)
	- tab-land and >	900 --> 1200	: min-width: 56.25em (900/16)
	- desk and     >	1200 --> 1800	: min-width: 75em (1200/16)
	- big-desk and >  1800 +		: min-width: 112.5em (1800/16)

ORDER: base + typography > general layout + grid > page layout > components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  /* 	1rem is equal to 10px */
  /* 	because 10px / 10 is equal to 1rem */
  /* 	therefore 30px is equal to 3rem */
  /* 	the default font size of the browser is 16px */
  /* 	10px / 16px *100 = 62.5% */
  font-size: 62.5%;
}
@media (min-width: 37.5em) {
  html {
    /* 	11px / 16px *100 = 68.75% */
    font-size: 68.75%;
  }
}
@media (min-width: 56.25em) {
  html {
    /* 	12px / 16px *100 = 75% */
    font-size: 75%;
  }
}
@media (min-width: 75em) {
  html {
    /* 	13px / 16px *100 = 81.25% */
    font-size: 81.25%;
  }
}
@media (min-width: 112.5em) {
  html {
    /* 	15px / 16px *100 = 93.75% */
    font-size: 93.75%;
  }
}

body {
  background-color: #DEDED3;
  /* This makes dealing with the sizes of elements much easier, 
  	and generally eliminates a number of pitfalls you can stumble on
  	 while laying out your content. */
  /* The width and height properties include the content, padding, and border, 
  	but do not include the margin.  Note that padding and border will be inside 
  	of the box. */
  box-sizing: border-box;
  position: relative;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a, button {
  cursor: pointer;
}

/* 
HeadingH1 Font-family: "Kaushan Script", cursive; Font-weights: 400;
HeadingH2 Font-family: "Acme", sans-serif; Font-weights: 400;
HeadingH3 Font-family: "Roboto", sans-serif; Font-weights: 500, 700;
HeadingH4&5 Font-family: "PT Sans Narrow", sans-serif; Font-weights: 400, 700;    
BodyText Font-family: "Lato", sans-serif; Font-weights: 400, 500, 700; 
*/
body {
  color: #1C1B1B;
  font-family: "Lato", sans-serif;
  font-size: clamp(1.4rem, 4.5vw, 1.6rem);
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
}

.headingH2 {
  color: #302318;
  font-family: "Acme", sans-serif;
  font-size: clamp(2.6rem, 6.2vw, 2.8rem);
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1.2;
  text-align: center;
}

.headingH3 {
  color: #302318;
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.8rem, 5.7vw, 2rem);
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  text-align: center;
}
.headingH3--contactDetails, .headingH3--contactDetailsFooter {
  font-style: normal;
}
.headingH3--socialMedia, .headingH3--legalNotice, .headingH3--contactDetailsFooter {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.sidebar__sidebarContactDetailsItem {
  font-style: normal;
  font-weight: 700;
}
.sidebar__sidebarContactDetailsLink {
  color: #1C1B1B;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.footer {
  color: #263322;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}
.footer__footerFigHeading {
  color: #302318;
  font-family: "Acme", sans-serif;
  font-size: clamp(2.2rem, 7vw, 2.4rem);
  font-weight: 900;
}
.footer__footerAddressBox {
  font-style: normal;
}
.footer__footerLink, .footer__footerContactDetailsLink, .footer__footerDevName {
  color: #263322;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 2px;
}
.footer__footerContactDetailsItem {
  font-weight: 700;
}
.footer__footerDev {
  font-size: clamp(1.2rem, 4.5vw, 1.4rem);
}

.text-align-center {
  text-align: center;
}

.website-section-bottom-margin {
  margin-bottom: 5rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 5rem 1rem;
}
.sidebar__sidebarContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 5rem;
  width: min(100%, 45rem);
}
.sidebar__socialMedia, .sidebar__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 2rem;
}
.sidebar__sidebarSocialMediaIconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 3rem;
}
.sidebar__sidebarSocialMediaIcon {
  width: 3.5rem;
  height: 3.5rem;
}
.sidebar__sidebarContactDetailsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 0.5rem;
  width: 100%;
}
.sidebar__sidebarGoogleMapsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 1rem;
  width: 100%;
}
.sidebar__sidebarIframeGoogle {
  display: block;
  width: min(100%, 45rem);
  height: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #7C8D72;
  padding: 5rem 1rem 1rem;
}
.footer__footerContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 0rem;
  width: min(100%, 45rem);
}
.footer__footerHr {
  background: linear-gradient(to right, transparent 5%, rgba(48, 35, 24, 0.25) 20%, #302318, rgba(48, 35, 24, 0.25) 80%, transparent 95%);
  background-size: cover;
  border: none;
  width: 100%;
  height: 1px;
  padding: 0;
  margin: 2.5rem 0 2rem;
}
.footer__logoFigure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 1rem;
}
.footer__logoImage {
  display: block;
  width: 20rem;
  height: auto;
}
.footer__logoFigcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 0.25rem;
}
.footer__footerSocialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 0.5rem;
  width: 100%;
}
.footer__footerSocialMediaIconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 3rem;
}
.footer__footerSocialMediaIcon {
  width: 3rem;
  height: 3rem;
  margin-top: 0.75rem;
}
.footer__footerNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 0.5rem;
  width: 100%;
}
.footer__footerLegalNoticeBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 0.5rem;
  width: 100%;
}
.footer__footerContactDetailsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 0.5rem;
  width: 100%;
}
.footer__footerCopyAndDevBox {
  width: 100%;
}

.header h1 {
  color: red;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 5rem 1rem 0rem;
}
.main__mainContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  gap: 5rem;
  width: min(100%, 45rem);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.about__aboutImgContainer {
  position: relative;
  width: 100%;
  height: 70vw;
}
@media (min-width: 500px) {
  .about__aboutImgContainer {
    height: 33rem;
  }
}
.about__aboutImg {
  display: block;
  background-color: #DEDED3;
  border: 2px solid #263322;
  box-shadow: 0 0 15px 1px rgba(38, 51, 34, 0.45);
  width: 45%;
  height: auto;
  padding: 1rem;
}
.about__aboutImgWoodStack {
  width: 70%;
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 100;
}
.about__aboutImgGate {
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 200;
}
.about__aboutImgFactory {
  width: 40%;
  position: absolute;
  top: 10%;
  left: 20%;
  z-index: 100;
}
.about__aboutImgKitchen {
  width: 30%;
  position: absolute;
  top: 35%;
  left: 50%;
  z-index: 200;
}
.about__aboutImgToolWall {
  width: 70%;
  position: absolute;
  top: 13%;
  left: 10%;
  z-index: 100;
}
.about__aboutImgVarnish {
  width: 30%;
  position: absolute;
  top: 25%;
  left: 60%;
  z-index: 200;
}

/*# sourceMappingURL=styles.css.map */
