// primary colors
$cp-black: #1C1B1B;
$cp-darkBrown: #302318;
$cp-lightBrown: #97734A;
$cp-yellow: #ECBF09;
$cp-darkGreen: #263322;
$cp-lightGreen: #7C8D72;
$cp-white: #DEDED3;
$cp-lightGrey: #b9b9b9;
$cp-darkGrey: #4d4d4d;

// font colors
$cf-black: #1C1B1B;
$cf-darkBrown: #302318;
$cf-lightBrown: #97734A;
$cf-yellow: #ECBF09;
$cf-darkGreen: #263322;
$cf-lightGreen: #7C8D72;
$cf-white: #DEDED3;
$cf-lightGrey: #b9b9b9;
$cf-darkGrey: #4d4d4d;

// font-size
$fs-heading-large: 3.2rem;
$fs-heading-medium: 2.7rem;
$fs-heading-small: 2.2rem;
$fs-paragraph-large: 1.8rem;
$fs-paragraph-medium: 1.6rem;
$fs-paragraph-small: 1.4rem;
$fs-btn-large: 2rem;
$fs-btn-medium: 1.8rem;
$fs-btn-small: 1.6rem;

// border-radius
$br-large: .25rem;
$br-medium: .5rem;
$br-small: 1rem;

// box-shadow
$bs-dark: 0 0 5px 2px rgba(0, 0, 0, .3);
$bs-btn: 0px 1px 2px 1px rgba(0, 0, 0, .5);
$bs-btnHover: 0px 3px 4px 2px rgba(0, 0, 0, .5);

// margin
$m-large: 5rem;
$m-medium: 2.5rem;
$m-small: 1rem;

// padding
$p-large: 5rem;
$p-medium: 2.5rem;
$p-small: 1rem;





