.sidebar {
      @include displayFlexColumn;
      padding: 5rem 1rem;
      &__sidebarContentWrapper {
            @include displayFlexColumn;
            gap: 5rem;
            width: min(100%, 45rem);
      }
      &__socialMedia, &__contact {
            @include displayFlexColumn;
            gap: 2rem;
      }
      &__sidebarSocialMediaIconContainer {
           @include displayFlexRow;
           gap: 3rem; 
      }
      &__sidebarSocialMediaIcon {
            width: 3.5rem;
            height: 3.5rem;
      }
      &__sidebarContactDetailsBox {
            @include displayFlexColumn;
            gap: .5rem;
            width: 100%;
      }
      &__sidebarGoogleMapsBox {
            @include displayFlexColumn;
            gap: 1rem;
            width: 100%;
      }
      &__sidebarIframeGoogle {
            display: block;
            width: min(100%, 45rem);
            height: auto;
      }
}