// style button
.btn {  
      border: 1px solid $cp-lightGrey;
      border-bottom: 1px solid $cp-darkGrey;
      border-right: 1px solid $cp-darkGrey;
      border-radius: .45rem;
      box-shadow: $bs-btn;
  
      width: fit-content;
  
      padding: .60em .85em;
      margin: 0 auto;
  
      cursor: pointer;
      backface-visibility: hidden;
      transition: all .2s;
  
      &:link, &:visited {
          text-decoration: none;
          transform: translateY(0px);
      }
  
      &:active {
          border-bottom: 1px solid $cp-lightGrey;
          border-right: 1px solid $cp-lightGrey;
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .7);
          transform: translateY(-1px);
      }
  
      &--primary-brown {
          background-color: $cp-lightBrown;
      }
  }