body {
	color: $cf-white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: clamp(1.4rem, 4.5vw, 1.6rem);
	font-weight: 400;
	line-height: 1.5;
}

.headingH3 {
	color: $cp-darkBrown;
	font-weight: 900;

}

.paragraph {
	&--figParagraph {
		color: $cf-darkGreen;
		text-align: center;
	}
}