/* 
HeadingH1 Font-family: "Kaushan Script", cursive; Font-weights: 400;
HeadingH2 Font-family: "Acme", sans-serif; Font-weights: 400;
HeadingH3 Font-family: "Roboto", sans-serif; Font-weights: 500, 700;
HeadingH4&5 Font-family: "PT Sans Narrow", sans-serif; Font-weights: 400, 700;    
BodyText Font-family: "Lato", sans-serif; Font-weights: 400, 500, 700; 
*/
    

body {
	color: $cf-black;
	font-family: "Lato", sans-serif;
	font-size: clamp(1.4rem, 4.5vw, 1.6rem);
	font-weight: 400;
	line-height: 1.6;
	text-align: center;
}
.headingH1 {
	&__primaryHeading {
		font-family: "Kaushan Script", cursive;
		font-size: 3.8rem;
		font-weight: 900;
		letter-spacing: 5px;
		line-height: 1.2;
		text-align: left;
	}
	&__values, &__byline {
		color: $cf-black;
		font-family: "Lato", sans-serif;
		font-size: clamp(1.6rem, 4.5vw, 1.8rem);
		font-weight: 700;
		line-height: 1.6;
		text-align: center;
	}
	&__byline {
		font-size: clamp(1.8rem, 4.5vw, 2rem);
	}
}
.headingH2 {
	color: $cf-darkBrown;
	font-family: "Acme", sans-serif; 
	font-size: clamp(2.6rem, 6.2vw, 2.8rem);;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 1.2;
	text-align: center;
}
.headingH3 {
	color: $cf-darkBrown;
	font-family: "Roboto", sans-serif; 
	font-size: clamp(1.8rem, 5.7vw, 2rem);;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.2;
	text-align: center;
	&--contactDetails, &--contactDetailsFooter {
		font-style: normal;
	}
	&--socialMedia, &--legalNotice, &--contactDetailsFooter {
		text-decoration: underline;
		text-underline-offset: 2px;
	}
}
.btn {
	&--primary-brown {
		color: $cf-black;
		font-family: "Roboto", sans-serif; 
		font-size: clamp(1.6rem, 5.7vw, 1.8rem);
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 1.2;
		text-align: center;
	}
}
.logo__text {
	font-family: "Kaushan Script", cursive;
	font-size: clamp(1.6rem, 5vw, 1.8rem);;
	font-weight: 900;
	letter-spacing: 2px;
	line-height: 1;
	text-align: left;
}
.navList__navLink {
	color: $cf-darkGreen;
	font-family: "Roboto", sans-serif; 
	font-size: clamp(1.6rem, 5.7vw, 1.8rem);
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.2;
	text-align: center;
}
.sidebar {
	&__sidebarContactDetailsItem {
		font-style: normal;
		font-weight: 700;
	}
	&__sidebarContactDetailsLink {
		color: $cf-black;
		font-weight: 500;
		text-decoration: underline;
		text-underline-offset: 2px;
	}
}

.footer {
	color: $cf-darkGreen;
	font-family: "Lato", sans-serif; 
	font-weight: 500;
	&__footerFigHeading {
		color: $cp-darkBrown;
		font-family: "Acme", sans-serif;
		font-size: clamp(2.2rem, 7vw, 2.4rem);
		font-weight: 900;
	}
	&__footerAddressBox {
		font-style: normal;
	}
	&__footerLink, &__footerContactDetailsLink, &__footerDevName {
		color: $cf-darkGreen;
		font-family: "PT Sans Narrow", sans-serif; 
		font-weight: 500;
		text-decoration: underline;
		text-underline-offset: 2px;
	}
	&__footerContactDetailsItem {
		font-weight: 700;
	}
	&__footerDev {
		font-size: clamp(1.2rem, 4.5vw, 1.4rem);
	}
}